em {
    font-style: normal;
    font-weight: bold;
}
i, cite, .caption, .subtitle, .uniname {
    font-style: normal;
    font-family: STFangsong, FangSong, serif;
}
h1, .subtitle, .uniname {
    font-variant: normal; /* no small caps */
}
