em:lang(zh) {
    font-style: normal;
    font-weight: bold;
}
i:lang(zh), cite:lang(zh), .caption:lang(zh), .subtitle:lang(zh), .uniname:lang(zh) {
    font-style: normal;
    font-family: STFangsong, FangSong, serif;
}
h1:lang(zh), .subtitle:lang(zh), .uniname:lang(zh) {
    font-variant: normal; /* no small caps */
}
